language: python

python:
  - 2.7
  - 3.4

env:
  - DJANGO=1.4.16
  - DJANGO=1.5.11
  - DJANGO=1.6.8
  - DJANGO=1.7.1

install:
  - pip install Django==$DJANGO
  - pip install -e .

script: 
  - python setup.py test 
